/* NAVIGATION.PHP */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    padding: 24px;
    border-right: 1px solid;
    border-color: white;
    padding-right: 20px;
}

.sidebar img {
    width: 170px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}

.main-container {
    margin-left: 202px;
    margin-bottom: 15px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding: 14px 30px;
}

.topbar .navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar a{
    font-weight: bold;
    font-size: 26px;
    color: #b3b3b3;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    margin-bottom: 10px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar h4{
    font-weight: bold;
    font-size: 15px;
    color: #b3b3b3;

}

.topbar h5{
    font-weight: bold;
    font-size: 25px;
    color: #b3b3b3;
    padding-top: 12px;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}

.adminDashboard{
    height: auto;
    margin-left: 202px;
    margin-bottom: 200px;
}

.adminDashboard h1{
    margin-left: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
}

.adminDashboard h6{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.adminDashboard .adminData{
    margin-left: 50px;
}

.adminDashboard .adminData .list{
    display: flex;
    gap : 150px;
}

.adminDashboard .adminData .list .item{
    display: inline;
    min-width: 170px;
    width: 500px;
    height: 250px;
    padding: 15px;
    background-color: #181818;
    border-radius: 10px;
    cursor: pointer;
}

.adminDashboard .adminData .list .itemstuff{
    display: flex;
    cursor: pointer;
    width: 500px;
    padding: 10px;
}




.adminDashboard .adminData .list .item .itemgroup{
    width: 150px;
    height: 150px;
}

.adminDashboard .adminData .list .item .itemdesc{
    width: 200px;
    height: 200px;
}

.adminDashboard .adminData .list .item .itemdesc h4{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    white-space: initial;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminDashboard .adminData .list .item:hover{
    background: #252525;
}

.adminDashboard .adminData .list .item img{
    width: 140px;
    height: 140px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.adminDashboard .adminData .list .item h4{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    white-space: initial;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminDashboard .adminData .list .item p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.adminDashboard .adminData .list .item p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}


.adminDashboard .widgetAM{
    margin-left: 20px;
}

.adminDashboard .widgetAM .listAM{
    display: flex;
    gap : 20px;

}

.adminDashboard .widgetAM .listAM .itemAM{
    display: flex;
    min-width: 140px;
    width: 200px;
    height: 150px;
    padding: 15px;
    background-color: #b3b3b3;
    border-radius: 10px;
    cursor: pointer;
}

.adminDashboard .widgetAM .listAM .itemAM h4{
    padding-left: 20px;
    padding-top: 30px;
}

.adminDashboard .widgetAM .listAM .itemAM:hover{
    background: white;
}

.adminDashboard .widgetAM .listAM a{
    text-decoration: none;
    color: black;
}

.adminUserControl{
    margin-left: 255px;
}

.adminUserControl h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.adminUserControl .signup-form{
    width: 360px;
    height: auto;
    margin-top: 20px;
    background-color: #252424;
    border-radius: 10px;
}

.adminUserControl form{
    width: 280px;
    margin-left: 30px;
}

.adminUserControl .signup-form h1{
    padding-top: 10px;
    color: red;
    text-align: center;
    padding-bottom: 1px;
    font-size: 12px;
}

.signup-form h2{
    padding-top: 10px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
}

.signup-form h4{
    padding-top: 10px;
    color: white;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 24px;
    font-size: 24px;
}


.inner-form{
    background-color: #434343;
    border-radius: 10px;
}

.adminUserControl .signup-form h3{
    padding-top: 10px;
    color: lightgreen;
    text-align: center;
    padding-bottom: 1px;
    font-size: 12px;
}

.adminUserControl .signup-form .backACC{
  width: 296px;
  height: 60px;

  
}

.adminUserControl .signup-form .backACC input{
    background-color: blue;
    border-radius: 3px;
    border: black 1px solid;
    color: white;
    height: 36px;
    cursor: pointer;
}

.adminUserControl form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 20px;
}

.adminUserControl button{
    width: 106%;
    height: 35px;
    margin-top:20px;
    border-radius: 3px;
    background-color: #34c39f;
    border: none;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
}

.adminUserControl label{
    color:white;
    padding-right: 18px;
}

.adminUserControl select{
    height: 24px;
    width: 65px;
}

.adminDashboard .container{
    width: 100%;
}

.adminDashboard .addUserButton{
    padding-left: 40px;
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: auto;
}


.adminDashboard input{
    background-color: darkcyan;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    color: white;
}

.adminDashboard .topRow{
    display: flex;
}



table{

    width: 100%;
    text-align: left;
    table-layout: auto;
}

th{
    background-color: #333131;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
}

tr{
    background-color: #181818;
}

td{
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    width: 180px;
    text-overflow: ellipsis; 
    vertical-align: middle;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    border-bottom: 1px solid white;
}



td a {
    text-decoration: none;

}

td button{
    border: 1px solid black;
    border-radius: 1.5px;
    width: 66px;
    height: 36px;
    color: white;
    cursor: pointer;
}

td .Empty{
    opacity: 0.0;
}

td .Edit{
    background-color: blue;
}

td .Delete{
    background-color: red;
}

td .Accept{
    background-color: green;
}

td audio{
    width: 240px;
}



td .Deny{
    background-color: red;
}

.container h6{
    color: lightgreen;
    font-size: 20px;
    padding-left: 22px;
    padding-bottom: 10px;
}

.container h5{
    color: red;
    font-size: 20px;
    padding-left: 22px;
    padding-bottom: 10px;
}

.songcreator{
    margin-left: 255px;
}

.flexbox{
    display: flex;
}

.reqHandler{
    margin-left: 150px;
}
.songcreator h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.songcreator .signup-form{
    width: 360px;
    height: auto;
    margin-top: 20px;
    background-color: #252424;
    border-radius: 10px;
}

.songcreator form{
    width: 280px;
    margin-left: 30px;
}

.songcreator .signup-form h1{
    padding-top: 10px;
    color: red;
    text-align: center;
    padding-bottom: 1px;
    font-size: 12px;
}

.songcreator .signup-form h3{
    padding-top: 10px;
    color: lightgreen;
    text-align: center;
    padding-bottom: 1px;
    font-size: 12px;
}

.songcreator form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 20px;
}

.songcreator form label{
    cursor: pointer;
}

.songcreator button{
    width: 106%;
    height: 35px;
    margin-top:20px;
    border-radius: 3px;
    background-color: #34c39f;
    border: none;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
}

.songcreator label{
    color:white;
    padding-right: 18px;
}

.songcreator select{
    height: 24px;
    width: 65px;
}

.songcreator .signup-form .backACC{
  width: 296px;
  height: 60px;

  
}

.songcreator .signup-form .backACC input{
    background-color: blue;
    border-radius: 3px;
    border: black 1px solid;
    color: white;
    height: 36px;
    cursor: pointer;
}

.songcreator .signup-form label{
    display: block;
    padding-bottom: 10px;
}

table img{
    width: 100px;
    height: 100px;
}

.container h2{
    color: white;
    font-size: 24px;
    padding-left: 16px;
}

.adminDashboard .topRow .search{
    display: flex;
    width: 40%;
    padding-left : 100px;
    align-items: center;
}

.adminDashboard .topRow .search input{
    padding-left: 10px;
    width: 70%;
    background-color: white;
    color: black;
    height: 40px;
    cursor: text;
}

.adminDashboard .topRow .search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left :10px;
}

.adminDashboard .topRow .search i {
    color: white;
}


